body {
    font-family: 'Montserrat', sans-serif;
}

/*
    About font families/FONTS
    web font face
*/
a {
    text-decoration: none;
}
/*---------------------------------*/
body {
    background-color: #333;
}
.navbar {
    background-color: #555;
    
}
.navbar li {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;

}
.navbar a {
    color: white;
}
/*.navbar a:hover {}*/
/*text-decoration: underline;*/


.navbar a::after {
    content: "";
    display: block;
    border-bottom: 1px solid transparent;
    transform: translateX(-100%);
    transition: 0.5s;
}
.navbar a:hover::after {
    border-bottom-color: white;
    transform: translateX(0%);
}
