/*Desktop*/
.news{
    width: 1200px;
    margin: 0 auto;

    display: flex;

}
.news article img {
    width: 100%;
}
.news article {
    margin: 5px 10px;
    width: 25%;
    background-color: #999;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*flex-grow: 1;*/
}
.news .main {
    width: 50%;
    /*flex-grow: 2;*/
}
.news .main + article {
    order: -1;
}
.news figure {
    margin: 0; /* Reset default margin for figure */
    text-align: center; /* Center align image and caption */
}


/*-----------------MOBILE-----------------*/
@media (max-width: 1240px) {
    .news{
        width: 97%;
       flex-direction: column;
    }

    .news article,
    .news .main {
        width: 100%;
    }
    
    .news .main {
        order: -2;
    }
}