body {
    background-color: #234;
}

.preloader {
    border: 1px dotted red;

    width: 200px;
    height: 200px;
}

.preloader .lg {
    border: 5px solid #999;
    border-top-color: transparent;
    border-radius: 105px;

 
    width: 200px;
    height: 200px;


    /*NEW*/
    box-sizing: border-box;

    animation: rot 3s infinite linear;
}

.preloader .sm {
    border: 5px solid #2dd;
    border-radius: 85px;
    border-right-color: transparent ;

    width: 160px;
    height: 160px;



    /*HW2 center h/v small (margin,transform)*/
    /*H3 animate backward*/
}

/*NEW*/
/*CSS ANIMATION*/
@keyframes rot {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg)
    }
}